<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd; onlyEven = false"
      >
        Only show odd numbers
      </button>
      <br /><br />
      <button
        class="btn btn-primary"
        (click)="onlyEven = !onlyEven; onlyOdd = false"
      >
        Only show even numbers
      </button>
      <br /><br />
      <ul class="list-group" *ngIf="onlyOdd">
        <li
          class="list-group-item"
          *ngFor="let number of oddNumbers"
          [ngClass]="{ odd: number % 2 != 0 }"
          [ngStyle]="{
            backgroundColor: number % 2 != 0 ? 'blue' : 'transparent'
          }"
        >
          {{ number }}
        </li>
      </ul>
      <ul class="list-group" *ngIf="onlyEven">
        <li
          class="list-group-item"
          *ngFor="let number of evenNumbers"
          [ngClass]="{ even: number % 2 === 0 }"
          [ngStyle]="{
            backgroundColor: number % 2 === 0 ? 'yellow' : 'transparent'
          }"
        >
          {{ number }}
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p basicAttributeDirective>
        Style getting applied by custom attribute directive
      </p>
      <p appBetterAttributeDirective userInputFontSize="48px">
        Style getting applied by custom attribute directive
      </p>
      <div [ngSwitch]="egValue">
        <p *ngSwitchCase="100">The example value is now 100</p>
        <p *ngSwitchCase="250">The example value is now 250</p>
        <p *ngSwitchCase="500">The example value is now 500</p>
        <p *ngSwitchDefault>The example value is now default</p>
      </div>
    </div>
  </div>
</div>
